* {
  font-family: "PT Sans Narrow", sans-serif;
}

#form input {
  border: 0;
  background-color: #362b54;
  height: 35px;
  width: 230px;
  margin: 20px;
  padding: 0 15px;
  border-radius: 10px;
  font-size: 17px;
  color: #ffffff;
  font-weight: bolder;
}

#form input::placeholder {
  color: #ffffff;
}

#form input:focus {
  outline: none;
}

#form button {
  width: 75px;
  height: 35px;
  border: 0;
  border-radius: 10px;
  background-color: #52b1b1;
  font-weight: bolder;
  font-size: 17px;
  color: #ffffff;
  cursor: pointer;
}

#form button:hover {
  box-shadow: 3px 0px 20px rgba(163, 163, 163, 1);
  background-color: rgb(78, 161, 161);
}
